.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, p{
  margin: 0;
}

ul{
  padding: 0;
}
 li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}


.ContactIcon-Container{
  display: flex;
  width: 100%;
  overflow: scroll;
  column-gap: 10px;
  justify-content: center;
}


.ContactIcon-Container>li img{
  height: 40px;
  width: auto;
}


.MenuContainer>footer{
  align-self: flex-end;

}

.MenuContainer>footer>ul::-webkit-scrollbar{
  display: none;
}

.MenuContainer>footer h2{
  font: 1em sans-serif;
}

.hideInMobile{
  display: none;
}


@media screen and (min-width: 1130px) {


  .ContactIcon-Container{
    display: grid;
  }

.ContactIcon-Container>li{
  display: grid;
  grid-template-columns: 50px 1fr;
  text-align: left;
  align-items: center;
}

.hideInMobile{
  display: block;
}


}